{% extends 'base.html' %}
{% block title %}
   <title>Lihat Absensi</title>
{% endblock %}
{% block main %}
<div class="container">
	<h2 class="d-flex justify-content-center">Lihat Absensi</h2>
	<hr>
	<form>
		<div class="form-group">
			<label for="kelas">Kelas:</label>
			<select class="form-control" id="kelas">
				<option value="">Pilih kelas</option>
				<option value="1">10 RPL</option>
				<option value="2">11 RPL</option>
				<option value="3">12 RPL</option>
			</select>
			<label for="kelas">Mata Pelajaran:</label>
			<select class="form-control" id="mapel">
				<option value="">Pilih Mapel</option>
				<option value="1">MATEMATIKA</option>
				<option value="2">PEMROGRAMAN MOBILE</option>
				<option value="3">PEMROGRAMAN WEB</option>
				<option value="4">PEMROGRAMAN DESKTOP</option>
			</select>
				<label for="tanggal">Pilih tanggal:</label>
				<input class="form-control" type="date" id="tanggal">	  
		</div>
		<button type="button" class="btn btn-primary mt-3" onclick="showAbsensi()">Tampilkan Absensi</button>
		<p>Jika ingin menginput absen terbaru, <a href="/input_absen">klik disini!</a></p>
	</form>
	<br>
	<table class="table" id="table-absensi">
		<thead>
			<tr>
				<th>No.</th>
				<th>Nama Siswa</th>
				<th>kelas</th>
				<th>Mata Pelajaran</th>
				<th>Guru</th>
				<th>Keterangan</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<a class="btn btn-danger" href="{{url_for('logout')}}">logout</a>
</div>
{% endblock %}
{% block scriptjs %}
	
<script>
	function showAbsensi() {
		// Mengambil nilai kelas dari form
		var kelas = $('#kelas').val();
		var tanggal = $('#tanggal').val();
		var mapel = $('#mapel').val();

		// Membuat request AJAX untuk mengambil data absensi
		$.ajax({
			url: '/api/absensi/' + kelas + '&' + tanggal+ '&' + mapel,
			type: 'GET',
			success: function(data) {
				// Menampilkan data absensi ke dalam tabel
				var table = $('#table-absensi tbody');
				table.empty();
				for (var i = 0; i < data.length; i++) {
					var absensi = data[i];
					var row = '<tr>' +
							  '<td>' + (i + 1) + '</td>' +
							  '<td>' + absensi.nama + '</td>' +
							  '<td>' + absensi.kelas + '</td>' +
							  '<td>' + absensi.mata_pelajaran.split('.')[1] + '</td>' +
							  '<td>' + absensi.guru + '</td>' +
							  '<td>' + absensi.keterangan + '</td>' +
							  '</tr>';
					table.append(row);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Error: ' + textStatus + ' - ' + errorThrown);
			}
		});
	}
</script>
{% endblock %}