{% extends 'base.html' %}
{% block main %}
<label>Pilih Kelas:</label>
<select id="kelas">
   <option value="">Pilih Kelas</option>
   <option value="1">Kelas 1</option>
   <option value="2">Kelas 2</option>
   <option value="3">Kelas 3</option>
</select>
<div id="siswa"></div>
{% endblock %}
{% block scriptjs %}
<script>
    $(document).ready(function(){
        $("#kelas").change(function(){
           var kelasId = $(this).val();
           $.ajax({
              type: "POST",
              url: "/siswa",
              data: {kelas_id: kelasId},
              success: function(response){
                 $("#siswa").html(response);
              }
           });
        });
     });
</script>
{% endblock %}