{% extends 'base.html' %}
{% block main %}
<table id="table-siswa">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Siswa</th>
        </tr>
    </thead>
    <tbody id="tbody-siswa">
    </tbody>
</table>
{% endblock %}
{% block scriptjs %}
<script>
    $(document).ready(function() {
        $.ajax({
            url: "/get_siswa",
            type: "GET",
            dataType: "json",
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    var tr = "<tr>";
                    tr += "<td>" + data[i].id + "</td>";
                    tr += "<td>" + data[i].nama + "</td>";
                    tr += "</tr>";
                    $("#tbody-siswa").append(tr);
                }
            }
        });
    });
    
</script>
{% endblock %}