{% extends 'base.html' %}
{% block title %}
   <title>Input Absensi</title>
{% endblock %}
{% block main %}
<div class="container">
	<h2 class="d-flex justify-content-center p-5 p-md-0 p-lg-0">Input Absensi</h2>
	<hr>
	<form class="p-5 p-md-0 p-lg-0">
		<div class="form-group">
			<label for="kelas">Kelas:</label>
			<select onchange="opsiMapel()" class="form-control" id="kelas">
				<option value="">Pilih kelas</option>

			</select>
            <label for="kelas">Mata Pelajaran:</label>
			<select class="form-control" id="mapel" name="mapel">
				<option value="">Pilih Mapel</option>

			</select>
		</div>
		<button type="button" class="btn btn-primary my-3" onclick="showAbsensi()">Tampilkan</button>
	</form>
	<br>
    <form action="/simpan_absensi" method="post">
        <table class="table p-5 p-md-0 p-lg-0" id="table-absensi">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Siswa</th>
                    <th>kelas</th>
                    <th>Mata Pelajaran</th>
                    <th>Guru</th>
                    <th>Keterangan | <label>
						<input type="checkbox" id="hadirSemua" onchange="toggleRadio('hadirSemua','radioHadir')"> Hadir Semua?
					  </label></th>
					
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
		<div class="p-5 p-md-0 p-lg-0">
			<button type="submit" class="btn btn-primary"> Simpan </button>
			<a class="btn btn-danger" href="/input_absen">Cancel</a>
		</div>
      

    </form>
	
</div>
{% endblock %}
{% block scriptjs %}
	
<script>
	$(document).ready(function(){
		opsiKelas();
		$('#mapel').empty()
	})
	function opsiMapel(){
		$('#mapel').empty()
		var mapel = $('#mapel');
		let kelasID = $('#kelas').val()
		$.ajax({
			url: `/api/mapel?kelas_id=${kelasID}`,
			type: 'GET',
			success: function(data) {
				
				for (var i = 0; i < data.length; i++) {
					var dataMapel = data[i];
					var nama_mapel = dataMapel.nama
					var namaMapel = nama_mapel.split('.')[1]
					var opsi = `
					<option value="${dataMapel.id}">${namaMapel}</option>`
	
					mapel.append(opsi);
				}
			},
		});
	}
	function opsiKelas(){
		var kelas = $('#kelas');
		$.ajax({
			url: '/api/kelas/',
			type: 'GET',
			success: function(data) {
				
				for (var i = 0; i < data.length; i++) {
					var dataKelas = data[i];
					var opsi = `
					<option value="${dataKelas.id}">${dataKelas.nama}</option>`
		
					kelas.append(opsi);
				}
			},
		});
	}
	function toggleRadio(checkboxId, radioID){
		var checkboxes = document.querySelectorAll('input[id="' + radioID + '"]');
      var pilihSemuaCheckbox = document.getElementById(checkboxId);

      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = pilihSemuaCheckbox.checked;
      }
	}
	function kirimMapel(){
		var mapel = $('#mapel').val();
		$.ajax({
			url:'/simpan_absensi',
			type:'POST',
			data:{
				'mapelID':mapel,
			}

		})
	}
	function showAbsensi() {
		// Mengambil nilai kelas dari form
        var kelas = $('#kelas').val();
	
		var mapel = $('#mapel').val();

		
		// Membuat request AJAX untuk mengambil data absensi
		$.ajax({
			url: '/api/input_absensi/' + kelas + '&' + mapel,
			type: 'GET',
			success: function(data) {
				// Menampilkan data absensi ke dalam tabel
				var table = $('#table-absensi tbody');
				table.empty();
                let temp_html = ``
				for (var i = 0; i < data.length; i++) {
					var absensi = data[i];
                    let id_siswa = absensi.siswa_id
                    let temp_html = `
                    <label><input type="radio" id="radioIzin" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Izin">Izin</label>
                    <label><input type="radio" id="radioHadir" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Hadir">Hadir</label>
                    <label><input type="radio" id="radioSakit" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Sakit">Sakit</label>
                    <label><input type="radio" id="radioAlpha" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Alpha">Alpha</label>  
                    ` 
					var row = '<tr>' +
							  '<td>' + (i + 1) + '</td>' +
							  '<td>' + absensi.nama + '</td>' +
							  '<td>' + absensi.kelas + '</td>' +
							  '<td>' + absensi.mata_pelajaran.split('.')[1] + '</td>' +
							  '<td>' + absensi.guru + '</td>' +
							  '<td>' + temp_html + '</td>' +
							  '</tr>';
					table.append(row);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Error: ' + textStatus + ' - ' + errorThrown);
			}
		});
	}
</script>
{% endblock %}