{% extends 'base.html' %}
{% block title %}
   <title>Input Absensi</title>
{% endblock %}
{% block main %}
<div class="container">
	<h2 class="d-flex justify-content-center">Input Absensi</h2>
	<hr>
	<form>
		<div class="form-group">
			<label for="kelas">Kelas:</label>
			<select class="form-control" id="kelas">
				<option value="">Pilih kelas</option>
				<option value="1">10 RPL</option>
				<option value="2">11 RPL</option>
				<option value="3">12 RPL</option>
			</select>
            <label for="kelas">Mata Pelajaran:</label>
			<select class="form-control" id="mapel">
				<option value="">Pilih Mapel</option>
				<option value="1">MATEMATIKA</option>
				<option value="2">PEMROGRAMAN MOBILE</option>
				<option value="3">PEMROGRAMAN WEB</option>
				<option value="4">PEMROGRAMAN DESKTOP</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary my-3" onclick="showAbsensi()">Tampilkan</button>
	</form>
	<br>
    <form action="/simpan_absensi" method="post">
        <table class="table" id="table-absensi">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Siswa</th>
                    <th>kelas</th>
                    <th>Mata Pelajaran</th>
                    <th>Guru</th>
                    <th>Keterangan</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary"> Simpan </button>
        <a class="btn btn-danger" href="/input_absensi">Cancel</a>
    </form>
	
</div>
{% endblock %}
{% block scriptjs %}
	
<script>
	function showAbsensi() {
		// Mengambil nilai kelas dari form
        var kelas = $('#kelas').val();
		var tanggal = $('#tanggal').val();
		var mapel = $('#mapel').val();

		// Membuat request AJAX untuk mengambil data absensi
		$.ajax({
			url: '/api/input_absensi/' + kelas + '&' + mapel,
			type: 'GET',
			success: function(data) {
				// Menampilkan data absensi ke dalam tabel
				var table = $('#table-absensi tbody');
				table.empty();
                let temp_html = ``
				for (var i = 0; i < data.length; i++) {
					var absensi = data[i];
                    let id_siswa = absensi.siswa_id
                    let temp_html = `
                    <label><input type="radio" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Izin">Izin</label>
                    <label><input type="radio" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Hadir">Hadir</label>
                    <label><input type="radio" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Sakit">Sakit</label>
                    <label><input type="radio" name="${id_siswa}_${absensi.mata_pelajaran_id}_keterangan" value="Alpha">Alpha</label>  
                    ` 
					var row = '<tr>' +
							  '<td>' + (i + 1) + '</td>' +
							  '<td>' + absensi.nama + '</td>' +
							  '<td>' + absensi.kelas + '</td>' +
							  '<td>' + absensi.mata_pelajaran.split('.')[1] + '</td>' +
							  '<td>' + absensi.guru + '</td>' +
							  '<td>' + temp_html + '</td>' +
							  '</tr>';
					table.append(row);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Error: ' + textStatus + ' - ' + errorThrown);
			}
		});
	}
</script>
{% endblock %}