{% extends 'base.html' %}
{% block main %}
<h1 class="mb-5 d-flex justify-content-center">Dashboard</h1>
<div id="my-cards" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Kehadiran</h5>
              <p class="card-text">Menunjukkan presentase berapa persen siswa dari semua kelas yang hadir dalam setiap mata pelajaran</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
{% endblock %}
